<%- include('partials/head.html'); %>
<%- include('partials/header.html'); %>

<main>

  <h1><%- title %></h1>

  <%- contents %>

  <%- include('partials/nav-child.html'); %>

</main>

<aside>

  <%- include('partials/tags.html'); %>

  <%- include('partials/nav-relative.html'); %>

</aside>

<%- include('partials/footer.html'); %>

<%- include('partials/nav.html'); %>

<%- include('partials/foot.html'); %>
