<% hero = "v1514391243/works/tag.jpg" %>

<%- include('partials/head.html'); %>
<%- include('partials/header.html'); %>

<main>

  <h1>Pages tagged <em>&ldquo;<%= title %>&rdquo;</em>:</h1>

  <%- include('partials/nav-child.html'); %>

</main>

<%- include('partials/footer.html'); %>

<%- include('partials/nav.html'); %>

<%- include('partials/foot.html'); %>
