<% hero = "v1514391243/works/tag" %>
<% thumbheight = 6 %>

<%- include('partials/head.html'); %>
<%- include('partials/header.html'); %>

<main itemprop="mainContentOfPage">
    <% if (title === 'Tags') { %>

      <h1><%= title %></h1>
      <p><%- description %>:</p>

      <%- include('partials/tags.html'); %>

  <% } else { %>

    <h1>Pages tagged <em>&ldquo;<%= title %>&rdquo;</em>:</h1>

    <%- include('partials/nav-child.html'); %>

    <p class="tag"><a href="<%- root %><%- tagroot %>">other tags&hellip;</a></p>
  <% } %>
</main>

<%- include('partials/footer.html'); %>

<%- include('partials/nav.html'); %>

<%- include('partials/foot.html'); %>
